<div class="card mb-3 d-flex flex-row" style="max-width: 300px;">
  <div class="row g-0">
    <div class="align-self-start">
      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid rounded-start" style="max-width: 300px">
    </div>
    <div class="g-row-4">
      <div class="card-body align-self-end">
        <h3 class="card-title">{{ recipe.name }}</h3>
        <div class="btn-group mb-1">
          <button type="button"
                  class="btn btn-primary
                dropdown-toggle">
            Manage Recipe
          </button>
        </div>
        <div class="card-text">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Add To List</a></li>
            <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
            <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
          </ul>
            <p>{{ recipe.description }}</p>
            <p>Ingredients</p>
        </div>
      </div>
    </div>
  </div>
</div>
