<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
      </button>
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/auth">Authenticate</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <div class="nav-item navbar-right" *ngIf="isAuthenticated">
        <button type="button"
                class="btn btn-warning">
          <a style="cursor: pointer" (click)='onLogout()'>Logout</a>
        </button>
      </div>
      <span appDropdown class="dropdown nav-item navbar-right m-1" *ngIf="isAuthenticated">
        <button type="button"
                class="btn btn-info dropdown-toggle">
          <a style="cursor: pointer" class="dropdown-toggle"
             data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">
          Manage
            <span class="caret"></span>
          </a>
        </button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer" (click)="onSaveData()">Save Data</a></li>
          <li><a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a></li>
        </ul>
      </span>
    </div>
  </div>
</nav>
