<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
      </button>
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipe-book">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>

        <span appDropdown class="dropdown nav-item navbar-right">
          <button type="button"
                  class="btn btn-info dropdown-toggle">
            <a style="cursor: pointer" class="dropdown-toggle"
               data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
            Manage
              <span class="caret"></span>
            </a>
          </button>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer">Save Data</a></li>
            <li><a style="cursor: pointer">Fetch Data</a></li>
          </ul>
        </span>
    </div>
  </div>
</nav>
